.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    padding: 20px;
}

.details {
    width: 120px;
    padding: 5px;
    background-color: #629550;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.detail {
    width: 190px;
    padding: 5px;
    background-color: #629550;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.productCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productImageContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.productImageFirst,
.productImageSecond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.productImageSecond {
    opacity: 0;
}

.productImageContainer:hover .productImageFirst {
    opacity: 0;
}

.productImageContainer:hover .productImageSecond {
    opacity: 1;
}

.list {
    text-align: center;
}



.heartIcon {
    font-size: 25px;
    color: red;
    position: absolute;
    top: 10%;
    left: 80%;
    /* left: 10px; */
    /* right:+1%; */
    cursor: pointer;
}

.productCard h4 {
    /* margin: 10px 0 5px; */
    text-align: center;
}

.productCard p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 400px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .productImageContainer {
        height: 300px;
    }

}